<% include partials/header %>

<div class="page-header">
    <h1>About YelpCamp</h1>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="border: none;">
            <img src="https://images.unsplash.com/photo-1519395612667-3b754d7b9086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" class="imageGray">
            <div class="caption">
                <h3 style="text-align: center;">Tools used</h3>
                <p class="justifyText">Web application was made using VanillaJS and Node.JS with
                    additional help of Express and EJS templates. Additionally, Bootstrap vesion 3 is used for improving
                    look of the app. Backed is also powered by MongoDB</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="border: none;">
            <img src="https://images.unsplash.com/photo-1546811740-23e671faf31c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" class="imageGray">
            <div class="caption">
                <h3 style="text-align: center;">Functionality</h3>
                <p>Currently the application contains the following functionalities: </p>
                <ul class="" data-columns="2">
                    <li>User login and register</li>
                    <li>Viewing and editing user's profile</li>
                    <li>CRUD operations on campgrounds</li>
                    <li>CRUD operations on comments</li>
                    <li>Admin role</li>
                    <li>Search bar</li>
                    <li>Sending email to user</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="border: none;">
            <img src="https://images.unsplash.com/photo-1524856781660-e5c92f4ac62a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" class="imageGray">
            <div class="caption">
                <h3 style="text-align: center;">Genesis</h3>
                <p class="justifyText">Initial work was made while learning 'The Web Developer Bootcamp' on Udemy. After completition i decided to expand the site quite more and add additional features</p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>