<% include ../partials/header %>

<header class="jumbotron" style="text-align: center;">
    <h1>Welcome To YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
        <div>
            <form action="/campgrounds" method="GET" class="form-inline" style="display: inline;">
                <div class="form-group">   
                    <input type="text" name="search" placeholder="Search campground..."  class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
            <a href="/campgrounds/new" class="btn btn-primary">Add New Campground</a>
        </div >
        <!-- Testing purpose only
        <% if(currentUser && currentUser.isAdmin) {%>
        <div>You are an admin!</div>
        <% } %> -->
    </p>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap">
    <% if(noMatch !== null) { %>
    <div class="col-md-12">
        <h3><%= noMatch %></h3>
    </div>
    <% } %>

    <% campgrounds.forEach( (campground) => { %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>" class="fade">
            <div class="caption"><%= campground.name %></div>
            <p>
                <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info</a>
            </p>
        </div>
    </div>
    <% }); %>
</div>

<% include ../partials/footer %>
